@import "../styles/satoshi.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html {
    @apply bg-black text-neutral-200;
  }
  h1 {
    @apply text-3xl font-medium;
  }
  h2 {
    @apply text-2xl font-medium mt-2;
  }
  a {
    @apply text-base;
  }
}


.title {
  font-family: "helvetica", sans-serif;
  transition: letter-spacing 5s;
  color: white;
  transform: translateX(1.25rem);
  animation: stretch 6s infinite ease-in-out alternate;
}
@keyframes stretch {
  from {
    letter-spacing: 2rem;
  }
  to {
    letter-spacing: 2.5rem;
  }
}

.title.hover {
  color: rgb(192, 255, 3);
}
.helvetica {
  font-family: "helvetica", sans-serif;
}

@media screen and (max-width: 650px) {
  .title {
    letter-spacing: 0.4rem;
    animation: stretchmobile 6s infinite ease-in-out alternate;
    transform: translateX(0.6rem);

  }

  @keyframes stretchmobile {
    from {
      letter-spacing: 0.4rem;
    }
    to {
      letter-spacing: 0.8rem;
    }
  }
}
